doctype html
html
  head
    meta(charset='UTF-8')
    |   
    title FileBOX
  |     
  |     
  link(rel='stylesheet', type='text/css', href='css/styl.css')
  |     
  link(rel='shortcut icon', href='img/box.png')
  |     
  body
    #menu
      img(src='./img/box.png')
      |        
      p File
      |        
      |        
      ul           
          a.log(href='logout')  Wyloguj
          br
          br
          |            
          form#uploadForm(enctype='multipart/form-data', action='uploaded', method='post')
            input(type='file', name='userPhoto')
            |  
            input(type='submit', value='Dodaj plik', name='submit')



    |     
    |     
    #content
      p Filebox
      |         
      |         
      |         
      #table
        
  |     
  script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js')
  |     
  script(src='js/skrypt.js')




