doctype html
html
  head
    meta(charset='UTF-8')
    |   
    title FileBOX
  |     
  |     
  link(rel='stylesheet', type='text/css', href='css/styl.css')
  |     
  link(rel='shortcut icon', href='img/box.png')
  |     
  body
    #menu
      img(src='./img/box.png')
      |        
      p File
      |        
      |        
      ul           
          a.log(href='logout')  Wyloguj
          br
          |            
          form#uploadForm(enctype='multipart/form-data', action='', method='post')
            input(type='file', name='userPhoto')
            |  
            input(type='submit', value='Dodaj plik', name='submit')



    |     
    |     
    #content
      p Filebox
      |         
      |         
      p
        img#button(src='./img/+.jpg')
        |             
        img#button(src='./img/-.jpg')
        |             
        img#button(src='./img/list.png')
        |             
        input#search(type='text', placeholder=' search')
      |       
      |         
      #table
        table(rules='rows')
          tr
            td(style='width: 35px')
            |                     
            td Name
            |                     
            td File Type
            |                     
            td Input Date
          |                 
          |                 
          tr
            td
              img(src='./img/box.png', alt='')
            |                     
            td books.jpg
            |                     
            td image (JPG)
            |                     
            td 12.01.2014 19:05
  |     
  script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js')
  |     
  script(src='js/skrypt.js')
